/* Estilos específicos para las tarjetas de productos */
.product-card {
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    margin-bottom: 20px;
    padding: 20px;
    background-color: #F2F3F4;

    font-family: Arial, sans-serif; /* Cambia el estilo de la fuente */
    font-size: 16px; /* Cambia el tamaño de la letra */
}

.product-card h3 {
    margin-top: 0;
}

.product-card ul {
    list-style-type: none;
    padding: 0;
}

.product-card ul li {
    margin-bottom: 5px;
}

.product-card ul li button {
    margin-bottom: 5px;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px; 
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#addProductButton {
    background-color: #D4E6F1; /* Color de fondo */
    color: black; /* Color del texto */
    padding: 10px 20px; /* Aumenta el espacio alrededor del texto */
    border: none; /* Elimina el borde */
    border-radius: 5px; /* Añade esquinas redondeadas */
    cursor: pointer;
    font-size: 16px; /* Tamaño de la letra */
    transition: background-color 0.3s; /* Transición suave del color de fondo */
}

#addProductButton:hover {
    background-color: #BFC9CA; /* Cambia el color de fondo al pasar el cursor */
}

#products-container {
    margin-top: 20px; /* Ajusta el tamaño del espacio según sea necesario */
}


