/* Estilos específicos para las tarjetas de productos */
.product-card {
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    margin-bottom: 20px;
    padding: 20px;
    background-color: #F2F3F4;
    font-family: Arial, sans-serif; /* Cambia el estilo de la fuente */
    font-size: 16px; /* Cambia el tamaño de la letra */
}

.product-card h3 {
    margin-top: 0;
}

.product-card ul {
    list-style-type: none;
    padding: 0;
}

.product-card ul li {
    margin-bottom: 5px;
}

.product-card ul li button {
    margin-bottom: 5px;
}

/* Modal */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.8); /* Fondo más oscuro */
    padding-top: 60px; 
}

/* Contenido del modal */
.modal-content {
    background-color: #ffffff; /* Fondo blanco */
    margin: 5% auto; 
    padding: 30px; /* Más espacio de relleno */
    border: 2px solid #000; /* Borde más grueso y oscuro */
    border-radius: 10px; /* Bordes redondeados */
    width: 90%; /* Ajustar el ancho */
    max-width: 1000px; /* Ancho máximo para pantallas grandes */
    transition: transform 0.3s ease-out; /* Suave transición al aparecer */
}

/* Botón de cerrar */
.close {
    color: #ff0000; /* Color rojo */
    float: right;
    font-size: 32px; /* Tamaño de fuente más grande */
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000; /* Cambia a negro al pasar el cursor */
    text-decoration: none;
    cursor: pointer;
}

.modal.show .modal-content {
    transform: scale(1); /* Escala normal al mostrar */
}

.modal.hide .modal-content {
    transform: scale(0.7); /* Escala reducida al esconder */
}

/* Estilos para los elementos del formulario dentro del modal */
.modal-content form {
    display: flex;
    flex-direction: column;
}

.modal-content form label {
    margin-top: 10px; /* Espacio superior */
    margin-bottom: 5px; /* Espacio inferior */
    font-weight: bold;
}

.modal-content form input[type="text"],
.modal-content form input[type="number"],
.modal-content form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px; /* Espacio inferior */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.modal-content form button {
    background-color: #D4E6F1;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-top: 10px; /* Espacio superior */
}

.modal-content form button:hover {
    background-color: #BFC9CA;
}

#addProductButton {
    background-color: #D4E6F1; /* Color de fondo */
    color: black; /* Color del texto */
    padding: 10px 20px; /* Aumenta el espacio alrededor del texto */
    border: none; /* Elimina el borde */
    border-radius: 5px; /* Añade esquinas redondeadas */
    cursor: pointer;
    font-size: 16px; /* Tamaño de la letra */
    transition: background-color 0.3s; /* Transición suave del color de fondo */
}

#addProductButton:hover {
    background-color: #BFC9CA; /* Cambia el color de fondo al pasar el cursor */
}

#products-container {
    margin-top: 20px; /* Ajusta el tamaño del espacio según sea necesario */
}
